<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="User API Test Suite">
	
    <test name="User API Tests">
		
        <classes>
			 <class name="response.Login"/>
			 <class name="response.GetUsers"/>
			 <class name="payload.Postpayload"/>
             <class name="response.PostResponse"/>
             <class name="response.GetUserByUserId"/>
             <class name="response.GetUserByFristname"/>
             <class name="response.UpdateUser"/>
                <class name="response.DeleteByUserId"/> 
 
        </classes>
    </test>
</suite>
